@model Book

@{
    Layout = "_Layout";
}
<h2>Dodaj nową książkę</h2>
<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title"/>
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="AuthorId"></label>
        <select class="form-control" asp-for="AuthorId" asp-items="@ViewBag.Authors">
        </select>
        <span class="text-danger" asp-validation-for="AuthorId"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ISBN"></label>
        <input class="form-control" asp-for="ISBN"/>
        <span class="text-danger" asp-validation-for="ISBN"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Published"></label>
        <input class="form-control" asp-for="Published"/>
        <span class="text-danger" asp-validation-for="Published"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Pages"></label>
        <input class="form-control" asp-for="Pages"/>
        <span class="text-danger" asp-validation-for="Pages"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <button class="btn btn-danger" type="reset">Wyczyść</button>
    </div>
</form>