@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Czy chcesz usunąć książkę o id @Model.Id?</h2>
<h2>Tytuł: @Model.Title</h2>
<h2>Autor: @Model.Author</h2>
<form method="post">
    <input asp-for="Id"/>
    <button class="btn btn-danger">Tak</button>
</form>
<a class="btn btn-success" asp-controller="Book" asp-action="Index">Anuluj</a>

