@{
    Layout = "_Layout";
}

<h2>Welcome Form</h2>
<form method="get" action="/Home/Welcome">
    <input type="text" name="name"/>
    <input type="number" name="age"/>
    <button type="submit">Wyślij</button>
</form>
